@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
.container {
  width: 340px;
  height: 365px;
  background-color: transparent;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.2), -8px -8px 16px rgba(255, 255, 255, 0.65);
  border-radius: 12px;
  position: relative;
}

.container p {
  position: absolute;
  font-size: 2.5rem;
  font-family: var(--font-family2);
  color: var(--frist-color);
  left: 24%;
  top: 50%;
  transition: background-color 2s ease-in-out;
}

/** controll button stop and play and lap */
.controll-btn {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 7px 7px 0;
  text-align: center;
}

.controll-btn span {
  width: 35px;
  height: 100%;
  cursor: pointer;
  line-height: 1.2;
}

.controll-btn span i {
  color: var(--bg-icon);
  font-size: 2rem;
}

.stopwatch {
  width: 100%;
  height: 320px;
  position: relative;
  color: var(--frist-color);
  transform: rotate(270deg);
  /** becuse li has postion absolute  and top left 50% frist li strat the left */
}

.stopwatch .clockline li {
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--frist-color);
  position: absolute;
  left: 50%;
  top: 50%;
}

.stopwatch .clockline li:nth-child(1) {
  transform: translate(149.70401px, 9.41858px) rotate(453.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.1s;
}

.stopwatch .clockline li:nth-child(2) {
  transform: translate(148.81721px, 18.79999px) rotate(457.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.2s;
}

.stopwatch .clockline li:nth-child(3) {
  transform: translate(147.34309px, 28.1072px) rotate(460.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.3s;
}

.stopwatch .clockline li:nth-child(4) {
  transform: translate(145.28747px, 37.30348px) rotate(464.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.4s;
}

.stopwatch .clockline li:nth-child(5) {
  transform: translate(142.65848px, 46.35255px) rotate(468deg);
  transform-origin: 100% 0%;
  animation-delay: 0.5s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(6) {
  transform: translate(139.46647px, 55.21868px) rotate(471.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.6s;
}

.stopwatch .clockline li:nth-child(7) {
  transform: translate(135.72406px, 63.86689px) rotate(475.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.7s;
}

.stopwatch .clockline li:nth-child(8) {
  transform: translate(131.446px, 72.26305px) rotate(478.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.8s;
}

.stopwatch .clockline li:nth-child(9) {
  transform: translate(126.64919px, 80.37402px) rotate(482.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.9s;
}

.stopwatch .clockline li:nth-child(10) {
  transform: translate(121.35255px, 88.16779px) rotate(486deg);
  transform-origin: 100% 0%;
  animation-delay: 0.10s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(11) {
  transform: translate(115.57699px, 95.6136px) rotate(489.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.11s;
}

.stopwatch .clockline li:nth-child(12) {
  transform: translate(109.34529px, 102.68207px) rotate(493.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.12s;
}

.stopwatch .clockline li:nth-child(13) {
  transform: translate(102.68207px, 109.34529px) rotate(496.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.13s;
}

.stopwatch .clockline li:nth-child(14) {
  transform: translate(95.6136px, 115.57699px) rotate(500.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.14s;
}

.stopwatch .clockline li:nth-child(15) {
  transform: translate(88.16779px, 121.35255px) rotate(504deg);
  transform-origin: 100% 0%;
  animation-delay: 0.15s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(16) {
  transform: translate(80.37402px, 126.64919px) rotate(507.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.16s;
}

.stopwatch .clockline li:nth-child(17) {
  transform: translate(72.26305px, 131.446px) rotate(511.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.17s;
}

.stopwatch .clockline li:nth-child(18) {
  transform: translate(63.86689px, 135.72406px) rotate(514.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.18s;
}

.stopwatch .clockline li:nth-child(19) {
  transform: translate(55.21868px, 139.46647px) rotate(518.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.19s;
}

.stopwatch .clockline li:nth-child(20) {
  transform: translate(46.35255px, 142.65848px) rotate(522deg);
  transform-origin: 100% 0%;
  animation-delay: 0.20s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(21) {
  transform: translate(37.30348px, 145.28747px) rotate(525.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.21s;
}

.stopwatch .clockline li:nth-child(22) {
  transform: translate(28.1072px, 147.34309px) rotate(529.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.22s;
}

.stopwatch .clockline li:nth-child(23) {
  transform: translate(18.79999px, 148.81721px) rotate(532.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.23s;
}

.stopwatch .clockline li:nth-child(24) {
  transform: translate(9.41858px, 149.70401px) rotate(536.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.24s;
}

.stopwatch .clockline li:nth-child(25) {
  transform: translate(0px, 150px) rotate(540deg);
  transform-origin: 100% 0%;
  animation-delay: 0.25s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(26) {
  transform: translate(-9.41858px, 149.70401px) rotate(543.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.26s;
}

.stopwatch .clockline li:nth-child(27) {
  transform: translate(-18.79999px, 148.81721px) rotate(547.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.27s;
}

.stopwatch .clockline li:nth-child(28) {
  transform: translate(-28.1072px, 147.34309px) rotate(550.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.28s;
}

.stopwatch .clockline li:nth-child(29) {
  transform: translate(-37.30348px, 145.28747px) rotate(554.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.29s;
}

.stopwatch .clockline li:nth-child(30) {
  transform: translate(-46.35255px, 142.65848px) rotate(558deg);
  transform-origin: 100% 0%;
  animation-delay: 0.30s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(31) {
  transform: translate(-55.21868px, 139.46647px) rotate(561.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.31s;
}

.stopwatch .clockline li:nth-child(32) {
  transform: translate(-63.86689px, 135.72406px) rotate(565.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.32s;
}

.stopwatch .clockline li:nth-child(33) {
  transform: translate(-72.26305px, 131.446px) rotate(568.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.33s;
}

.stopwatch .clockline li:nth-child(34) {
  transform: translate(-80.37402px, 126.64919px) rotate(572.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.34s;
}

.stopwatch .clockline li:nth-child(35) {
  transform: translate(-88.16779px, 121.35255px) rotate(576deg);
  transform-origin: 100% 0%;
  animation-delay: 0.35s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(36) {
  transform: translate(-95.6136px, 115.57699px) rotate(579.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.36s;
}

.stopwatch .clockline li:nth-child(37) {
  transform: translate(-102.68207px, 109.34529px) rotate(583.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.37s;
}

.stopwatch .clockline li:nth-child(38) {
  transform: translate(-109.34529px, 102.68207px) rotate(586.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.38s;
}

.stopwatch .clockline li:nth-child(39) {
  transform: translate(-115.57699px, 95.6136px) rotate(590.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.39s;
}

.stopwatch .clockline li:nth-child(40) {
  transform: translate(-121.35255px, 88.16779px) rotate(594deg);
  transform-origin: 100% 0%;
  animation-delay: 0.40s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(41) {
  transform: translate(-126.64919px, 80.37402px) rotate(597.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.41s;
}

.stopwatch .clockline li:nth-child(42) {
  transform: translate(-131.446px, 72.26305px) rotate(601.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.42s;
}

.stopwatch .clockline li:nth-child(43) {
  transform: translate(-135.72406px, 63.86689px) rotate(604.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.43s;
}

.stopwatch .clockline li:nth-child(44) {
  transform: translate(-139.46647px, 55.21868px) rotate(608.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.44s;
}

.stopwatch .clockline li:nth-child(45) {
  transform: translate(-142.65848px, 46.35255px) rotate(612deg);
  transform-origin: 100% 0%;
  animation-delay: 0.45s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(46) {
  transform: translate(-145.28747px, 37.30348px) rotate(615.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.46s;
}

.stopwatch .clockline li:nth-child(47) {
  transform: translate(-147.34309px, 28.1072px) rotate(619.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.47s;
}

.stopwatch .clockline li:nth-child(48) {
  transform: translate(-148.81721px, 18.79999px) rotate(622.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.48s;
}

.stopwatch .clockline li:nth-child(49) {
  transform: translate(-149.70401px, 9.41858px) rotate(626.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.49s;
}

.stopwatch .clockline li:nth-child(50) {
  transform: translate(-150.0px, 0px) rotate(630deg);
  transform-origin: 100% 0%;
  animation-delay: 0.50s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(51) {
  transform: translate(-149.70401px, -9.41858px) rotate(633.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.51s;
}

.stopwatch .clockline li:nth-child(52) {
  transform: translate(-148.81721px, -18.79999px) rotate(637.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.52s;
}

.stopwatch .clockline li:nth-child(53) {
  transform: translate(-147.34309px, -28.1072px) rotate(640.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.53s;
}

.stopwatch .clockline li:nth-child(54) {
  transform: translate(-145.28747px, -37.30348px) rotate(644.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.54s;
}

.stopwatch .clockline li:nth-child(55) {
  transform: translate(-142.65848px, -46.35255px) rotate(648deg);
  transform-origin: 100% 0%;
  animation-delay: 0.55s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(56) {
  transform: translate(-139.46647px, -55.21868px) rotate(651.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.56s;
}

.stopwatch .clockline li:nth-child(57) {
  transform: translate(-135.72406px, -63.86689px) rotate(655.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.57s;
}

.stopwatch .clockline li:nth-child(58) {
  transform: translate(-131.446px, -72.26305px) rotate(658.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.58s;
}

.stopwatch .clockline li:nth-child(59) {
  transform: translate(-126.64919px, -80.37402px) rotate(662.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.59s;
}

.stopwatch .clockline li:nth-child(60) {
  transform: translate(-121.35255px, -88.16779px) rotate(666deg);
  transform-origin: 100% 0%;
  animation-delay: 0.60s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(61) {
  transform: translate(-115.57699px, -95.6136px) rotate(669.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.61s;
}

.stopwatch .clockline li:nth-child(62) {
  transform: translate(-109.34529px, -102.68207px) rotate(673.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.62s;
}

.stopwatch .clockline li:nth-child(63) {
  transform: translate(-102.68206px, -109.34529px) rotate(676.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.63s;
}

.stopwatch .clockline li:nth-child(64) {
  transform: translate(-95.6136px, -115.57699px) rotate(680.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.64s;
}

.stopwatch .clockline li:nth-child(65) {
  transform: translate(-88.16778px, -121.35255px) rotate(684deg);
  transform-origin: 100% 0%;
  animation-delay: 0.65s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(66) {
  transform: translate(-80.37401px, -126.64919px) rotate(687.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.66s;
}

.stopwatch .clockline li:nth-child(67) {
  transform: translate(-72.26304px, -131.446px) rotate(691.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.67s;
}

.stopwatch .clockline li:nth-child(68) {
  transform: translate(-63.86688px, -135.72406px) rotate(694.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.68s;
}

.stopwatch .clockline li:nth-child(69) {
  transform: translate(-55.21867px, -139.46647px) rotate(698.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.69s;
}

.stopwatch .clockline li:nth-child(70) {
  transform: translate(-46.35253px, -142.65847px) rotate(702deg);
  transform-origin: 100% 0%;
  animation-delay: 0.70s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(71) {
  transform: translate(-37.30346px, -145.28747px) rotate(705.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.71s;
}

.stopwatch .clockline li:nth-child(72) {
  transform: translate(-28.10716px, -147.34308px) rotate(709.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.72s;
}

.stopwatch .clockline li:nth-child(73) {
  transform: translate(-18.79994px, -148.8172px) rotate(712.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.73s;
}

.stopwatch .clockline li:nth-child(74) {
  transform: translate(-9.41852px, -149.704px) rotate(716.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.74s;
}

.stopwatch .clockline li:nth-child(75) {
  transform: translate(0.00008px, -149.99998px) rotate(720deg);
  transform-origin: 100% 0%;
  animation-delay: 0.75s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(76) {
  transform: translate(9.41869px, -149.70399px) rotate(723.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.76s;
}

.stopwatch .clockline li:nth-child(77) {
  transform: translate(18.80013px, -148.81717px) rotate(727.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.77s;
}

.stopwatch .clockline li:nth-child(78) {
  transform: translate(28.10739px, -147.34305px) rotate(730.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.78s;
}

.stopwatch .clockline li:nth-child(79) {
  transform: translate(37.30374px, -145.28742px) rotate(734.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.79s;
}

.stopwatch .clockline li:nth-child(80) {
  transform: translate(46.35289px, -142.6584px) rotate(738deg);
  transform-origin: 100% 0%;
  animation-delay: 0.80s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(81) {
  transform: translate(55.21913px, -139.46637px) rotate(741.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.81s;
}

.stopwatch .clockline li:nth-child(82) {
  transform: translate(63.86748px, -135.72393px) rotate(745.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.82s;
}

.stopwatch .clockline li:nth-child(83) {
  transform: translate(72.26382px, -131.44583px) rotate(748.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.83s;
}

.stopwatch .clockline li:nth-child(84) {
  transform: translate(80.37501px, -126.64896px) rotate(752.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.84s;
}

.stopwatch .clockline li:nth-child(85) {
  transform: translate(88.16908px, -121.35225px) rotate(756deg);
  transform-origin: 100% 0%;
  animation-delay: 0.85s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(86) {
  transform: translate(95.61526px, -115.57659px) rotate(759.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.86s;
}

.stopwatch .clockline li:nth-child(87) {
  transform: translate(102.68421px, -109.34478px) rotate(763.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.87s;
}

.stopwatch .clockline li:nth-child(88) {
  transform: translate(109.34805px, -102.6814px) rotate(766.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.88s;
}

.stopwatch .clockline li:nth-child(89) {
  transform: translate(115.58052px, -95.61274px) rotate(770.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.89s;
}

.stopwatch .clockline li:nth-child(90) {
  transform: translate(121.35706px, -88.16667px) rotate(774deg);
  transform-origin: 100% 0%;
  animation-delay: 0.90s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(91) {
  transform: translate(126.65493px, -80.37259px) rotate(777.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.91s;
}

.stopwatch .clockline li:nth-child(92) {
  transform: translate(131.45329px, -72.26121px) rotate(781.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.92s;
}

.stopwatch .clockline li:nth-child(93) {
  transform: translate(135.7333px, -63.86454px) rotate(784.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.93s;
}

.stopwatch .clockline li:nth-child(94) {
  transform: translate(139.47815px, -55.21567px) rotate(788.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.94s;
}

.stopwatch .clockline li:nth-child(95) {
  transform: translate(142.67319px, -46.34871px) rotate(792deg);
  transform-origin: 100% 0%;
  animation-delay: 0.95s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(96) {
  transform: translate(145.30598px, -37.29861px) rotate(795.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.96s;
}

.stopwatch .clockline li:nth-child(97) {
  transform: translate(147.3663px, -28.10101px) rotate(799.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.97s;
}

.stopwatch .clockline li:nth-child(98) {
  transform: translate(148.84625px, -18.79217px) rotate(802.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.98s;
}

.stopwatch .clockline li:nth-child(99) {
  transform: translate(149.74028px, -9.40872px) rotate(806.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.99s;
}

.stopwatch .clockline li:nth-child(100) {
  transform: translate(150.04518px, 0.01241px) rotate(810deg);
  transform-origin: 100% 0%;
  animation-delay: 0.100s;
  height: 32px;
}

.stopwatch .clockline li:nth-child(1) {
  animation-delay: 1ms;
}

.stopwatch .clockline li:nth-child(2) {
  animation-delay: 2ms;
}

.stopwatch .clockline li:nth-child(3) {
  animation-delay: 3ms;
}

.stopwatch .clockline li:nth-child(4) {
  animation-delay: 4ms;
}

.stopwatch .clockline li:nth-child(5) {
  animation-delay: 5ms;
}

.stopwatch .clockline li:nth-child(6) {
  animation-delay: 6ms;
}

.stopwatch .clockline li:nth-child(7) {
  animation-delay: 7ms;
}

.stopwatch .clockline li:nth-child(8) {
  animation-delay: 8ms;
}

.stopwatch .clockline li:nth-child(9) {
  animation-delay: 9ms;
}

@keyframes loading {
  0% {
    opacity: 1;
    background: #17aef3 none repeat scroll 0% 0%;
  }
  100% {
    opacity: 0;
  }
}

/** active loading animation when user click on start btn */
.active {
  animation: loading 1s linear infinite;
}

.hov {
  color: #17aef3;
}

:root {
  --bg-color: #e6e6e6;
  --bg-icon: #03a9f4;
  --color: #1e1e1e;
  --frist-color: #93a2a3;
  --second-color: #7ed6df;
  --threet-color: #17aef3;
  --fourth-color: #56bdeb;
  --li-color: #01080c;
  --font: "Lora", serif;
  --font-family2: "Orbitron", monospace, sans-serif;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  font-family: var(--font);
  color: var(--color);
  height: 100vh;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */