@import "mixin";
@import "base";
%inherit-flex {
    @include flex(flex, space-around, center);
}

%comon-bg-style {
    background-color: transparent;
    box-shadow: var(--default-shadow);
    border-radius: var(--default-radius);
}

%comon2 {
    border-radius: 50%;
    background: #e6e6e6;
    box-shadow: 5px 5px 14px #cfcfcf, -5px -5px 14px #fdfdfd;
}