@import "mixin";
@import "base";
@import "common_class";

/** conitaner style */

.container {
    @include size(340px, 365px);
    background-color: transparent;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.2), -8px -8px 16px rgba(255, 255, 255, 0.65);
    border-radius: 12px;
    position: relative;
    /** centeral P for show Timer */
    p {
        position: absolute;
        font-size: 2.5rem;
        font-family: var(--font-family2);
        color: var(--frist-color);
        left: 24%;
        top: 50%;
        transition: background-color 2s ease-in-out;
    }
}


/** controll button stop and play and lap */

.controll-btn {
    @include size(100%, 45px);
    @include flex(flex, space-between, center, row-reverse);
    font-size: 1.4rem;
    padding: 7px 7px 0;
    text-align: center;
    span {
        @include size(40px, 100%);
        @include flex(flex, center, center);
        @extend %comon2;
        cursor: pointer;
        color: var(--fiveth-color);
        // border-radius: 10px !important;
        i {
            font-size: 1.5rem;
            color: var(--bg-icon);
        }
        &:active {
            background: #e6e6e6;
            box-shadow: inset 5px 5px 14px #cfcfcf, inset -5px -5px 14px #fdfdfd;
        }
    }
}

.stopwatch {
    @include size(100%, 320px);
    position: relative;
    color: var(--frist-color);
    transform: rotate(270deg);
    /** becuse li has postion absolute  and top left 50% frist li strat the left */
    .clockline {
        li {
            @include size(2px, 20px);
            border-radius: 2px;
            background-color: var(--frist-color);
            position: absolute;
            left: 50%;
            top: 50%;
            // animation: loading 1s linear infinite;
            $r: 130;
            @for $i from 1 through 100 {
                //What I want to repeat
                &:nth-child(#{$i}) {
                    $angle: 450 + (360 / 100) * $i;
                    $radian: (360 / 100) * ($pi / 180) * $i;
                    $x: $r * cos($radian) + px;
                    $y: $r * sin($radian) + px;
                    transform: translate($x, $y) rotate($angle + deg);
                    transform-origin: 100% 0%;
                    animation-delay: unquote("0.#{$i}s");
                    @if ($i % 5)==0 {
                        height: 32px;
                    }
                }
            }
            @for $j from 1 to 10 {
                &:nth-child(#{$j}) {
                    animation-delay: unquote("#{$j}ms");
                }
            }
        }
    }
}

@keyframes loading {
    // 0% {
    //     background: var(--frist-color) none repeat scroll 0% 0%;
    // }
    // 50% {
    //     background: #17aef3 none repeat scroll 0% 0%;
    // }
    // 100% {
    //     background: var(--frist-color) none repeat scroll 0% 0%;
    // }
    0% {
        opacity: 1;
        background: #17aef3 none repeat scroll 0% 0%;
    }
    100% {
        opacity: 0;
    }
}


/** active loading animation when user click on start btn */

.active {
    animation: loading 1s linear infinite;
}


/** stow watch 2 style */

.cornometer {
    @include size(80%, 80vh);
    @include flex(flex, space-around, center, column);
}

.timer {
    @include size(inherit, 30vh);
    @extend %inherit-flex;
}

.times {
    @include flex(flex, space-around, center, column);
    @include size(20%, 85%);
    @extend %comon-bg-style;
    font-family: var(--font-family2);
    color: var(--fiveth-color);
    overflow: hidden;
    cursor: pointer;
    p {
        font-size: 4rem;
    }
    span {
        color: var(--threet-color);
        font-size: 3rem;
    }
    &:hover {
        box-shadow: inset 5px 5px 10px #bcbcbc, inset -5px -5px 10px #ffffff;
    }
    transition: all 1s ease-in-out;
}

.timer-btn-group {
    @extend %inherit-flex;
    width: 80%;
    color: var(--fiveth-color);
}

.timer-btn {
    @include size(120px, 40px);
    @extend %comon-bg-style;
    color: var(--threet-color);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    &:active {
        box-shadow: inset 5px 5px 10px #bcbcbc, inset -5px -5px 10px #ffffff;
    }
}

#record {
    @include size(40%, 200px);
    @extend %comon-bg-style;
    resize: none;
    border: none;
    font-size: 2rem;
    color: var(--fiveth-color);
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    &:focus {
        outline: none;
    }
}

// add style by event delegatation
.active-button {
    box-shadow: inset 5px 5px 10px #bcbcbc, inset -5px -5px 10px #ffffff;
    i {
        color: #17aef3;
    }
}